.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.secretWord {
  margin-top: 1em;
}

.letterButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
}

.button {
  width: 3em;
  height: 3em;
  background-color: rgb(192, 240, 248);
  border: 1px solid rgb(192, 240, 248);
  border-radius: 4px;
  margin: .2em;
}

.hiddenLetters {
  margin: .2em;
}
